<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="akguen.liquidschool.paulirotlite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rot"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="tabs.WaehleSchuelerDynamicTabsActivity">

            <!--   <intent-filter>
                   <action android:name="android.intent.action.MAIN" />

                   <category android:name="android.intent.category.LAUNCHER" />
               </intent-filter>-->

        </activity>
        <activity
            android:name=".activities.in_use.S4_WaehleVergehen"
            android:label="@string/title_activity_s1__waehle_fehlverhalten"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name="zz_test.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity android:name=".activities.debug_activities.Debug_Main">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tabs.LerngruppeLöschenÄndern"
            android:label="@string/title_activity_update_lerngruppe" />
        <activity android:name=".activities.in_use.UnterrichtplanActivity" />
        <activity android:name=".activities.old_activities.TestMainActivity2" />
        <activity android:name=".activities.old_activities.S7_LerngruppeUpdaten" />
        <activity android:name=".activities.old_activities.S6_LerngruppeBearbeitenLoeschen" />
        <activity android:name=".activities.old_activities.E_FullScreenActivity" />
        <activity android:name=".activities.old_activities.E_FullScreenActivity2" />
        <activity android:name=".activities.old_activities.E_FullScreenActivity3" />
        <activity android:name=".activities.old_activities.S3_ErstelleLerngruppe" />
        <activity android:name=".activities.old_activities.S5_LerngruppeWechseln" />
        <activity android:name=".rest.ReadWebpageAsyncTask2" />
        <activity android:name=".activities.old_activities.E_SchulerprofilActivity" />
        <activity android:name=".activities.debug_activities.Speichern_Kollege" />
        <activity android:name=".activities.debug_activities.Speichern_Schueler" />
        <activity android:name=".activities.debug_activities.Speichern_Schulverbund" />
        <activity android:name=".activities.debug_activities.Speichern_Standort" />
        <activity android:name=".activities.debug_activities.Speichern_Adresse" />
        <activity android:name=".activities.debug_activities.Speichern_Kontakt" />
        <activity android:name=".activities.debug_activities.Speichern_Angehoeriger" />
        <activity android:name=".activities.debug_activities.Speichern_Vorfall" />
        <activity android:name=".activities.debug_activities.Speichern_Vergehen" />
        <activity android:name=".activities.debug_activities.Speichern_SP_Fach" />
        <activity android:name=".activities.debug_activities.Speichern_SP_Fragment" />
        <activity android:name=".activities.debug_activities.Speichern_Gueltigkeitsbereich" />
        <activity android:name=".activities.debug_activities.Speichern_Raum" />
        <activity android:name=".activities.debug_activities.Speichern_Thema" />
        <activity android:name=".activities.debug_activities.Speichern_Lerngruppe" />
        <activity android:name=".activities.debug_activities.Speichern_Vergehengruppe" />
        <activity android:name=".activities.debug_activities.Speichern_Lernform" />
        <activity android:name=".activities.debug_activities.Speichern_Schueler_Lerngruppe" />
        <activity android:name=".activities.debug_activities.Speichern_Vergehen_Vergehengruppe" />
        <activity android:name=".activities.debug_activities.Speichern_Kollege_Standort" />
        <activity android:name=".activities.debug_activities.Speichern_Schueler_Angehoeriger" />
        <activity android:name=".activities.old_activities.KlasseActivity" />
        <activity android:name=".activities.old_activities.KlasseActivityMitCBox" />

    </application>

</manifest>